@import "~bootstrap/less/bootstrap";

body {
  background-color: #000;
  overflow: hidden;
}

.graph-full-size {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

h1, h2 {
  color: #efefef;
}

.loading {
  color: #ffffff;
}

.node-hover-tooltip {
  position: absolute;
  background: black;
  color: white;
  padding: 4px;
  pointer-events: none;
}
